<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<main>
<h1 class="text-center mt-5">TEST EDACY</h1>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 align-items-center justify-content-center">
      <div class="col " *ngFor="let item of xmlItems.item | paginate:
           {
             itemsPerPage: 4,
             currentPage: p
           }
      ">
        <div class="card h-100 shadow-sm">
          <img [src]="item['media:content']['0']['$'].url" class="card-img-top img-thumbnail" alt="imageItem">
          <div class="card-body">
            <div class="clearfix mb-3">
              <h5 class="card-title"> {{item.title }}</h5>
              <span class="float-end price-hp">
                {{item.description }}
              </span>
            </div>
            <div class="text-center my-4">
              <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Modifier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5" >
      <pagination-controls  (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
</main>


<!--Modal Modification Item-->

<!--<button class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">Modifier</button>-->
<div id="my-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
    <div class="modal-content border-0 mx-3">
      <div class="modal-body p-0">
        <div class="row justify-content-center">
          <div class="col">
            <div class="card border-0">
              <div class="card-header p-3">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <h6 class="mb-0"><b>Contact Sales</b></h6>
                  </div>
                  <div class="col text-right"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="cross" aria-hidden="true">&times;</span> </button></div>
                </div>
              </div>
              <div class="card-body">
                <h6 class="card-title text-center"><b>Contact a Sales Representative</b></h6>
                <div class="row my-3">
                  <div class="col">
                    <div class="form-group mt-1 mb-1"> <input type="text" id="email" class="form-control pl-3 " required> <label class="ml-3 form-control-placeholder" for="email">Full Name</label> </div>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col">
                    <div class="form-group mt-1 mb-1"> <input type="text" id="email1" class="form-control pl-3 " required> <label class="ml-3 form-control-placeholder" for="email">Company Name</label> </div>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col">
                    <div class="form-group mt-1 mb-1"> <input type="text" id="email2" class="form-control pl-3 " required> <label class="ml-3 form-control-placeholder" for="email">Working Email</label> </div>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col">
                    <div class="form-group mt-1 mb-1"> <input type="text" id="email4" class="form-control pl-3 " required> <label class="ml-3 form-control-placeholder" for="email">Phone</label> </div>
                  </div>
                </div>
                <div class="row mt-4 mb-3">
                  <div class="col"><button type="button" id="Submit" class="btn btn-primary btn-block" data-dismiss="modal"><b>Submit</b></button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
